*{
  /* Reset margini, padding */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid blue; /* Debug */ */
}

.container-debug{
  width: 1000px;
  margin: 0 auto;
}


.container-content{
  width: 1200px;
  /* border: 1px solid violet; */
  margin: 0 auto;
}


.container-debug{
  width: 1000px;
  background-size: contain;
  border: 1px solid green;
  background-color: orange;
}



.prodotti-box{
  width: 920px;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.prodotti-riga{
  width: 920px; /* Calcolare correttamente dimensione! */
  margin-bottom: 40px;
  /* border: 2px solid black; */
}

.prodotti-cella{
  position: relative;
  display: inline-block;
  width: 300px;
  /* border: 1px solid red; */
}

.over-sconto{
  position: absolute;
  top: 0px;
  right: 0px;
  color:black;
  background-color: green;
}

/* Colora di rosso i prodotti pari */
.prodotti-cella:nth-child(2) .over-sconto{
  background-color: red;
}

.prodotti-cella:hover .over-cuore{
  opacity:100%;
}

.over-cuore{
  position: absolute;
  opacity: 0%;
  bottom: 0px;
  color:red;
  font-size:20px;
  font-weight: bold;
  transform: translate(-50%,0%); /* Traslo per centrare orizzontalmente */
  left:50%;
  bottom: 20px;
}
