*{
  /* Reset margini, padding */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container del sito */
.container-content{
  width: 1200px;
  padding-top:100px;
  margin: 0 auto;
}
/* /Container del sito */

/* Contenitore di tutti i prodotti */
.prodotti-box{
  width: 920px;
  margin: 0 auto;
}
/* /Contenitore di tutti i prodotti */

/* Riga dei prodotti */
.prodotti-riga{
  width: 100%; /* Calcolare correttamente dimensione! */
  margin-bottom: 40px;
}
/* /Riga dei prodotti */

/* Cella con prodotto singolo */
.prodotti-cella{
  position: relative;
  display: inline-block;
  width: 300px;
}
/* /Cella con prodotto singolo */

/* Sconto in sovraimpressione sulla cella prodotto */
.over-sconto{
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: bold;
  background-color: green;
}
/* /Sconto in sovraimpressione sulla cella prodotto */

/* Prova selettori avanzati - Colora di rosso i prodotti pari */
.prodotti-cella:nth-child(2) .over-sconto{
  background-color: red;
}
/* /Prova selettori avanzati - Colora di rosso i prodotti pari */

/* Animazione cuoricino sulla cella prodotto */
.prodotti-cella:hover .over-cuore{
  opacity:100%;
}
/* /Animazione cuoricino sulla cella prodotto */

/* Cuore in sovraimpressione sulla cella prodotto */
.over-cuore{
  position: absolute;
  opacity: 0%; /* Mostrare quando ci passa mouse sopra */
  bottom: 0px;
  color:red;
  font-size:20px;
  font-weight: bold;
  transform: translate(-50%,0%); /* Traslo per centrare orizzontalmente */
  left:50%;
  bottom: 20px;
}
/* /Cuore in sovraimpressione sulla cella prodotto */
